<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원 등록</title>
<link rel="stylesheet" href="/css/index.css">
<script src="/script/signup.js"></script>
</head>
<body>
<div class="main">
	<h1>회원 등록</h1><br>
	
	<div class="ModifyForm">
		<form id="RegistryForm" name="RegistryForm" method="POST" enctype="multipart/form-data">
		<br><br>
			<input type="file" name="fileUpload" id="imageFile" style="display:none" >	
			<div class="imageZone" id="imageZone"> 클릭 후 탐색창에서 사진을<br>선택해 주세요</div>
			<!--아이디-->
			<input type="text" class="input_field" id="user_id" name="user_id" placeholder="아이디" onchange="idCheck()"><br>
			<span id="idCheckNotice"></span>
			<!--이름-->
			<input type="text" class="input_field" id="user_nm" name="user_nm" placeholder="이름">
			<!--비밀번호-->
			<input type="password" class="input_field" id="password" name="password" placeholder="비밀번호">
			<input type="password" class="input_field" id="password1" name="password1" placeholder="비밀번호 확인">
			<!--나이 -->
			<input type="text" class="input_field" id="age" name="age" placeholder="나이를 입력해주세요">
			<!--성별-->
			<div style="width:90%; text-align:left; position:relative; left:35px; border-bottom:2px solid #adadad; margin:10px; padding:10px;">
			성별 :
			<label><input type="radio" name="gender" value="남성">남성</label>
			<label><input type="radio" name="gender" value="여성">여성</label><br>
			<!-- mbti -->
			MBTI :
			<select name="mbti">
				<option value="00" disabled selected>--아래 내용 중에서 선택--</option>
				<option value="ISTJ">ISTJ</option>
				<option value="ISTP">ISTP</option>
				<option value="ISFJ">ISFJ</option>
				<option value="ISFP">ISFP</option>
				<option value="INFJ">INFJ</option>
				<option value="INTJ">INTJ</option>
				<option value="INFP">INFP</option>
				<option value="INTP">INTP</option>
				<option value="ESTJ">ESTJ</option>
				<option value="ESFP">ESFP</option>
				<option value="ESFJ">ESFJ</option>
				<option value="ESTP">ESTP</option>
				<option value="ENFP">ENFP</option>
				<option value="ENTP">ENTP</option>
				<option value="ENFJ">ENFJ</option>
				<option value="ENTJ">ENTJ</option>
			</select>
			   	<br>
			</div>
			<!--전화번호-->
			<input type="text" id="tel_no" class="input_field" name="tel_no" placeholder="전화번호를 입력하세요">


			<p style="color:red">일반 사용자 권한으로 등록됩니다.</p><br><br>
			<input type="button" id="btnRegister" class="btn_write" value="여기를 클릭하세요."><br>
		</form>
	</div>
</div>
</body>
</html>